<script>
    //Insert Data
    $("#btnsave").click(function () {
        //console.log("save button clicked")
        output=""
        let sid = $("#stuid").val();
        let nm = $("#nameid").val();
        let em = $("#emailid").val();
        let pw = $("#passwordid").val();
        let csr = $("input[name=csrfmiddlewaretoken").val()
        if (nm == "") {
            console.log("Please Enter Name")
        } else if (em == "") {
            console.log("Please Enter Email")
        } else if (pw == "") {
            console.log("Please Enter Password")
        } else {
            mydata = { stuid : sid, name: nm, email: em, password: pw, csrfmiddlewaretoken: csr };
            $.ajax({
                url: "{% url 'save' %}",
                method: "POST",
                data: mydata,
                success: function (data) {
                    x = data.student_data
                    if (data.status == "Save") {
                        $("#msg").text("Form Submitted Successfully")
                        $("#msg").show();
                        setTimeout(function() {
                            $('#msg').fadeOut('fast');
                        }, 1500);
                        //console.log(data.student_data)
                            for (i = 0; i<x.length; i++) {
                                output += "<tr><td>" +
                                          x[i].id + 
                                          "</td><td>" + 
                                          x[i].name + 
                                          "</td><td>" + 
                                          x[i].email + 
                                          "</td><td>" + 
                                          x[i].password + 
                                          "</td><td><input type='button' class='btn btedit btn-sm btn-edit' value='Edit' data-sid=" + x[i].id + " /> <input type='button' class='btn btn-sm btdel' value='Delete' data-sid=" + x[i].id + " /></td></tr>";
                            }
                            

                            $("#tbody").html(output);
                            $("#stuid").val('');
                            $("form")[0].reset();
                        }
                        if (data.status == 0) {
                            $("#msg").text("Unable to Save Data")
                            $("#msg").show();
                            setTimeout(function() {
                                $('#msg').fadeOut('fast');
                            }, 1500);
                            $("#stuid").val('');
                            $("form")[0].reset();

                        }
                    },
                });
        }
    });

    //Delete Data
    $("tbody").on("click",".btn-del",function(){
        console.log("Delete button clicked");
        let id = $(this).attr("data-sid");
        let csr = $("input[name=csrfmiddlewaretoken").val()

        //console.log(id)
        mydata = {sid:id,csrfmiddlewaretoken: csr }
        mythis=this;
        $.ajax({
            url : "{% url 'delete' %}",
            method : "POST",
            data : mydata ,
            success : function(data){
                //console.log(data)
                if(data.status==1){
                    $("#msg").text("Data Deleted Successfully")
                    $("#msg").show();
                    setTimeout(function() {
                        $('#msg').fadeOut('fast');
                    }, 1500);
                    $(mythis).closest("tr").fadeOut();
                }
                if(data.status==0){
                    $("#msg").text("Unable to Delete Data")
                    $("#msg").show();
                    setTimeout(function() {
                        $('#msg').fadeOut('fast');
                    }, 1500);
                }
            },
        });
    });

        //Edit Data
    $("tbody").on("click",".btn-edit",function(){
        //console.log("Edit button clicked");
        let id = $(this).attr("data-sid");
        let csr = $("input[name=csrfmiddlewaretoken").val()
        mydata = {sid:id,csrfmiddlewaretoken: csr }
        $.ajax({
            url : "{% url 'edit' %}",
            method : "POST",
            data : mydata ,
            dataType:"json",
            success : function(data){
               $("#stuid").val(data.id)
               $("#nameid").val(data.name);
               $("#emailid").val(data.email);
               $("#passwordid").val(data.password);
            },
        });
    });
</script>